<h1 class="container-title">Posts</h1>

{{app-add-post action='createPost'}}

<div class="posts">
  {{#each model as |post|}}
    <div class="column">
      <div class="posts-item">
        <h2>{{post.title}}</h2>
        <h4>{{post.body}}</h4>
      </div>
    </div>
  {{/each}}
</div>
