<label for="post-title">Title:</label>
{{input type="text" value=postTitle name="post-title"}}

<label for="post-body">Subject:</label>
{{textarea value=postSubject name="post-body" placeholder="" class="" }}

<label for="post-body">Body:</label>
{{textarea value=postBody name="post-body" placeholder="" class="" }}

<button {{action 'action'}} type="button" name="button">Save</button>
