<div class="app-add-post form">
  <div class="form-section">
    {{form-input title='Title' value=title name="post-title" class=""}}
  </div>

  <div class="form-section">
    {{form-input title='Subject' value=subject name="post-title"}}
  </div>

  <div class="form-section">
    {{form-input area=true title='Content' value=body name="post-body"}}
  </div>

  <button type="button" name="button" {{action 'createPost'}}>Submit</button>
</div>
