.form-input
  margin-bottom 4vh

  &-title,
  &-text
    width 100%

  &-title
    font-size 1.5rem
    margin-bottom 1vh
    color $color-white

  &-text
    height 30px
    background-color transparent
    border none
    border-bottom solid $color-light-blue 1px
    transition border .8s

    &:focus
      outline 0
      border-color $color-white
